#gameover {
    position: fixed;
	
	width:250px;
	height:200px;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 0 1000em rgba(0,0,0,.5),
    			2px 2px 3px 0px rgba(0,0,0,0.8);
    background: #fff;
    z-index: 300;
}
#gameover{
	z-index:0;
	visibility: hidden;
}
#gameover p{
	font-size:2rem;
	text-align:center;
}

#gameover .score{
	color:#303C44;
	font-size: 80px;
	font-size: 8rem;
	text-transform: uppercase;
	font-family: 'Sanchez', serif;
	text-align: center;
	letter-spacing: 3px;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#gameover footer{
	position: absolute;
	bottom:0;
	width:100%;
	border-top: 1px solid #aaaaaa;
}